# Skopíruj ako .env a zmeň hodnoty pred spustením

API_TOKEN=SECRET

DB_ROOT_PASSWORD=root
DB_NAME=casapp
DB_USER=admin
DB_PASSWORD=admin
DB_HOST=mysql

OCTAVE_URL=http://octave:5000
OCTAVE_SLOWDOWN=0

STATS_INTERVAL=10
