.env
*.env.local
backend/logs/*.log
backend/logs/*.csv
docker/mysql_data/
node_modules/
__pycache__/
*.pyc
.DS_Store
Thumbs.db
gulicka.txt
kyvadlo.txt
zav_zadanie_v2.pdf
modely2026.pdf
.idea/
backend/docs/openapi_docs.pdf